<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Ajouter une nouvelle structure</h4>
          </div>
          <div class="content">
            <form #addForm="ngForm" (ngSubmit)="onAddStructure(addForm)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="id">Id de structure</label>
                    <input
                      type="text"
                      ngModel
                      name="id"
                      id="id"
                      class="form-control"
                      placeholder="id"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ou">Nom de structure</label>
                    <input
                      type="text"
                      ngModel
                      name="ou"
                      id="ou"
                      class="form-control"
                      placeholder="nom du structure"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="descriptionFr">description en français</label>
                    <input
                      type="text"
                      ngModel
                      name="descriptionFr"
                      id="descriptionFr"
                      class="form-control"
                      placeholder="description en français"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="descriptionAr">description en Arabe</label>
                    <input
                      type="text"
                      ngModel
                      name="descriptionAr"
                      id="descriptionAr"
                      class="form-control"
                      placeholder="description en Arabe"
                    />
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">
                Effectuer
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
