<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="arkah">
          <p>
            <button
              mat-button
              type="submit"
              class="btn btn-outline-success"
              routerLinkActive="list-item-active"
              routerLink="/formsrct"
            >
              Ajout des structures
            </button>
          </p>
          <p
            style="width: 20%; margin-left: 40px; margin-bottom: 60px"
            class="input-group no-border"
          >
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="recherche..."
            />
          </p>
        </div>
        <div class="card">
          <div class="header">
            <h4 class="title">tableaux des structures</h4>
            <p class="category">vous trouvez ici la liste des structures</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Id de structure</th>
                <th>Nom de structure</th>
                <th>Description</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <tr *ngFor="let structure of structure">
                  <td>{{ structure.id }}</td>
                  <td>{{ structure.ou }}</td>
                  <td>{{ structure.descriptionFr }}</td>
                  <td>
                    <button
                      href=""
                      class="btn btn-outline-info btn-sm mb-2"
                      data-toggle="modal"
                      data-target="#modalContactForm"
                      data-backdrop="false"
                    >
                      <mat-icon>note_add</mat-icon>
                    </button>
                    &nbsp;
                    <button
                      class="btn btn-outline-info btn-sm mb-2"
                      title="plus d'information"
                    >
                      <mat-icon>info</mat-icon>
                    </button>
                    &nbsp;
                    <button
                      href=""
                      class="btn btn-outline-danger btn-sm mb-2"
                      title="supprimer"
                      (click)="onDeleteStructure(structure?.ou)"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal -->
<div
  class="modal fade"
  id="modalContactForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          Effectuer des mise à jour
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #updateForm="ngForm">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <label for="id"> ID de structure</label>
            <input
              type="text"
              name="id"
              id="id"
              class="form-control"
              required
              ngModel="{{ updateStructure?.id }}"
            />
            <div class="md-form mb-5">
              <label for="ou"> Nom du structure</label>
              <input
                type="text"
                ngModel="{{ updateStructure?.ou }}"
                name="ou"
                id="ou"
                class="form-control"
                required
              />

              <div class="md-form mb-5">
                <label for="descriptionFr"> Description de Structure</label>
                <input
                  type="text"
                  ngModel="{{ updateStructure?.descriptionFr }}"
                  name="descriptionFr"
                  id="descriptionFr"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="onUpdateStructure(updateForm.value)"
          class="btn btn-unique"
          data-dismiss="modal"
        >
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>
