<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="arkah">
          <p>
            <button
              mat-button
              type="submit"
              class="btn btn-outline-success"
              routerLinkActive="list-item-active"
              routerLink="/formgrp"
            >
              Ajout des groupes
            </button>
          </p>
          <p
            style="width: 20%; margin-left: 40px; margin-bottom: 60px"
            class="input-group no-border"
          >
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="recherche..."
            />
          </p>
        </div>
        <div class="card">
          <div class="header">
            <h4 class="title">Tables des groupes</h4>
            <p class="category">vous trouvez la liste des groupes ici</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <tr *ngFor="let group of group">
                  <td>{{ group.cn }}</td>
                  <td>{{ group.description }}</td>
                  <td>
                    <button
                      href=""
                      class="btn btn-outline-info btn-sm mb-2"
                      data-toggle="modal"
                      data-target="#modalContactForm"
                      data-backdrop="false"
                    >
                      <mat-icon>note_add</mat-icon>
                    </button>
                    &nbsp;
                    <button
                      class="btn btn-outline-info btn-sm mb-2"
                      title="plus d'information"
                    >
                      <mat-icon>info</mat-icon>
                    </button>
                    &nbsp;
                    <button
                      href=""
                      class="btn btn-outline-danger btn-sm mb-2"
                      title="supprimer"
                      (click)="onDeleteGroup(group?.cn)"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalContactForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          Effectuer des mise à jour
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #updateForm="ngForm">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <label for="id"> ID de group</label>
            <input
              type="text"
              name="id"
              id="id"
              class="form-control"
              ngModel="{{ updateGroup?.id }}"
            />
            <div class="md-form mb-5">
              <label for="cn"> Nom du group</label>
              <input
                type="text"
                ngModel="{{ updateGroup?.cn }}"
                name="cn"
                id="cn"
                class="form-control"
              />
            </div>
            <div class="md-form mb-5">
              <label for="description"> Description de groupe</label>
              <input
                type="text"
                ngModel="{{ updateGroup?.description }}"
                name="description"
                id="description"
                class="form-control"
              />
              <div class="md-form mb-5">
                <label for="description"> membre de group</label>
                <input
                  type="text"
                  ngModel="{{ updateGroup?.members }}"
                  name="members"
                  id="members"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="onUpdateGroup(updateForm.value)"
          class="btn btn-unique"
        >
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>
